---
import MouseFollower from "@/components/MouseFollower.astro";
import ImageGetter from "@/components/ImgMapGet.astro";
import img1 from "@/assets/Luke-Miller-img1.jpg";
import img2 from "@/assets/Nik-img2.jpg";
import { getImage } from "astro:assets";
import ImageCarousel from "@/components/ImageCarousel.tsx";
import ColorBackgroundCard from "@/components/ColorBackgroundCard.astro";
import "../globals.css";
import "glightbox/dist/css/glightbox.min.css";
import AstroGLightbox from "../components/AstroGlightbox.astro";
const UnoptimizedImgArray = [
	{ src: img1, alt: "waterfall", height: "196" },
	{ src: img2, alt: "cherry tree" },
];

const OptImg1 = await getImage({
	src: img1,
	width: 100,
	widths: [100, 500],
	format: "webp",
	alt: "waterfall",
	clickZoom: true,
});
const OptImg2 = await getImage({
	src: img2,
	format: "webp",
	alt: "cherry tree",
});
const ImgArrayOptimized = [OptImg1, OptImg2];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex flex-col items-center bg-destructive">
		<!-- <h1>Using the map function works now!!!</h1>
		<ImageGetter imageArrayUnopt={UnoptimizedImgArray} /> -->
		<h1>Using singlar getImage functions does</h1>
		<ImageCarousel client:visible imgArrayOpt={ImgArrayOptimized} />
		<ColorBackgroundCard> <MouseFollower /></ColorBackgroundCard>
		<h1>Glightbox?</h1>
		<AstroGLightbox
			image={OptImg1}
			sizes="(max-width: 600px) 100px, 500px."
			description="this is datadog description"
		/>
	</body>
</html>
